* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 120%;
    background: #1a1a1a; 
}

.header1 {
    width: 30%;
    margin: 50px auto 0;
    color: white;
    background: #1a1a1a; 
    text-align: center;
    border: 1px solid #444; 
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    padding: 20px;
}
.header2 {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}


nav {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    margin-left: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-left: 20px; 
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}
h1 {
    margin: 0;
    color: #ffffff;
    margin-right: auto;
}
form, .content {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #444; 
    background: #333; 
    border-radius: 0 0 10px 10px;
}

.input-group {
    margin: 10px 0;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
    color: white; 
}

.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    background: #444; 
    color: white; 
}

.btn {
    padding: 10px;
    font-size: 15px;
    color: rgb(255, 255, 255); 
    background: #000000; 
    border: none;
    border-radius: 8px; 
    transition: color 0.5s, background 0.5s;
}

.btn:hover {
    color: #000000; 
    background: rgb(255, 255, 255); 
}

.error, .success {
    width: 92%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

.error {
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
}

.success {
    border: 1px solid #3c763d;
    color: #3c763d;
    background: #dff0d8;
    margin-bottom: 20px;
}
